<!--footer start-->

    <footer class="py-11 bg-primary position-relative" data-bg-img="assets/images/bg/03.png">
      <div class="shape-1" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
          <path d="M0.00,49.98 C150.00,150.00 271.49,-50.00 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #fff;"></path>
        </svg>
      </div>
      <div class="container mt-11">
        <div class="row">
          <div class="col-12 col-lg-5 col-xl-4 ml-auto mb-6 mb-lg-0">
            <div class="subscribe-form bg-warning-soft p-5 rounded">
              <h5 class="mb-4 text-white">تماس با ما</h5>
              {% comment %} <h6 class="text-light">عضویت در خبرنامه ما</h6> {% endcomment %}
              <form id="mc-form" class="group">
                <input type="email" value="" name="EMAIL" class="email form-control" id="mc-email" placeholder="آدرس ایمیل" required="" style="height: 60px;">
                <input class="btn btn-outline-light btn-block mt-3 mb-2" type="submit" name="subscribe" value="عضویت">
              </form>
              <small class="text-light">به زودی با شما تماس خواهیم گرفت!</small>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-7">
            <div class="row">
              <div class="col-12 col-sm-4 navbar-dark">
                <h5 class="mb-4 text-white">صفحات</h5>
                <ul class="navbar-nav list-unstyled mb-0">
                  <li class="mb-3 nav-item"><a class="nav-link" href="about-us-1.html">خانه</a>
                  </li>
                  <li class="mb-3 nav-item"><a class="nav-link" href="product-grid.html">بوت کمپ</a>
                  </li>
                  <li class="mb-3 nav-item"><a class="nav-link" href="faq.html">همکاری با ما</a>
                  </li>
                  <li class="mb-3 nav-item"><a class="nav-link" href="faq.html">درباره ما</a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-dark">
                <h5 class="mb-4 text-white">خدمات</h5>
                <ul class="navbar-nav list-unstyled mb-0">
                  <li class="mb-3 nav-item"><a class="nav-link" href="#">نویسنده محتوا</a>
                  </li>
                  <li class="mb-3 nav-item"><a class="nav-link" href="#">اسناد</a>
                  </li>
                  <li class="mb-3 nav-item"><a class="nav-link" href="login.html">حساب کاربری</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="career.html">شغل</a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-dark">
                <h5 class="mb-4 text-white">قوانین</h5>
                <ul class="navbar-nav list-unstyled mb-0">
                  <li class="mb-3 nav-item"><a class="nav-link" href="terms-and-conditions.html">شرایط سایت</a>
                  </li>
                  <li class="mb-3 nav-item"><a class="nav-link" href="privacy-policy.html">حریم خصوصی</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="#">پشتیبانی</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 col-sm-6">
                <a class="footer-logo text-white h2 mb-0" href="{% url 'index' %}">
                  هوش مصنوعی<span class="font-weight-bold">مهام.</span>
                </a>
              </div>
              <div class="col-12 col-sm-6 mt-6 mt-sm-0">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-facebook"></i></a>
                  </li>
                  <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-dribbble"></i></a>
                  </li>
                  <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-instagram"></i></a>
                  </li>
                  <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-twitter"></i></a>
                  </li>
                  <li class="list-inline-item"><a class="text-light ic-2x" href="#"><i class="la la-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-white text-center mt-8">
          <div class="col">
            <hr class="mb-8">کپی رایت - کلیه حقوق محفوظ است 1399 <u><a class="text-white" href="{% url 'index' %}">شرکت هوش مصنوعی مهام</a></u> | همیشه در خدمت شماست</div>
        </div>
      </div>
    </footer>

    <!--footer end-->