<!-- preloader start -->

<div id="ht-preloader">
    <div class="loader clear-loader">
        <span></span>
        <p>
            مهام
        </p>
    </div>
</div>

<!-- preloader end -->

<!--header start-->

<header class="site-header navbar-dark">
    <div id="header-wrap" class="position-absolute w-100 z-index-1">
        <div class="container">
            {% if thanks %}
            <div class="row">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>از تماس با ما سپاس گزاریم.</strong>                     به زودی با شما تماس خواهیم گرفت...
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endif %}
            {% if error %}
            <div class="row">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>متاسفیم.</strong> در ارسال اطلاعات مشکلی به وجود آماده است لطفا دوباره امتحان کنید...
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <!--menu start-->
                <div class="col d-flex align-items-center justify-content-between">
                    <a class="navbar-brand logo text-white h2 mb-0" id="header1" href="index.html">
                        هوش مصنوعی<span class="text-white font-weight-bold">مهام.</span>
                    </a>
                    <nav class="navbar navbar-expand-lg mr-auto" id="header2">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-expanded="false" aria-label="تغییر ناوبری"><span
                                class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">خانه</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'bootcamp_list' %}">بوت کمپ</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">درباره ما</a></li>
                            </ul>
                        </div>
                    </nav>
                    {% comment "left big button" %}
              <a class="btn btn-light mr-8 d-none d-lg-block" href="#">اکنون بخرید</a>
              {% endcomment %}
                </div>
                <!--menu end-->
            </div>
        </div>
    </div>
</header>

<!--header end-->