{% extends 'base.html' %}
{% load static %}

{% block title %}
    سپاسگزاریم!
{% endblock %}

{% block content %}
    <section class="fullscreen-banner p-0 o-hidden bg-pos-r" data-bg-img="assets/images/coming-bg.png">
        <div class="container-fluid px-md-8 h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="shadow p-5 rounded" data-bg-color="rgba(255,255,255,0.2)">
                        <div class="row justify-content-between">
                            <div class="col-lg-5 col-md-12">
                                <div class="coming-soon">
                                    <h1 class="mt-4 mb-2 font-w-7">سپاس گزاریم!</h1>
                                    <p>
                                        {{ message }}
                                    </p>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="subscribe-form">
                                                    <a href="{% url 'index' %}" class="btn btn-success">
                                                        برو به صفحه اصلی
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 md-mt-5 text-lg-right">
                                <img class="img-fluid d-inline" src="assets/images/coming-soon-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static 'js/header-light.js' %}"></script>
{% endblock %}